.accordionButton[aria-expanded='true'] .downArrow {
  transform: rotate(180deg);
}

.logContainer {
  overflow: scroll;
  max-height: 500px;
  margin-top: 5px;
}

.logBox {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: min-content;
}

.logRow {
  overflow: visible;
  margin: 0;
}
