/**
 * Temporary stylesheet
 */
:root {
  --font-family: 'Exo 2';

  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  font-family: var(--font-family);

  --space-sm: 0.5rem;
  --space: 1rem;
}

.cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.pad {
  padding: 1rem;
}

.space-y {
}

.space-y > * {
  margin-top: var(--space-sm);
}

.input {
}

.input + .input {
  margin-top: var(--space-sm);
}

.input__label {
  display: block;
}

/**/

.pager {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pager__item {
  border: solid 1px #f00;
  display: inline-block;
}

/* Form/fieldsets */
fieldset {
}

fieldset > legend {
  padding: 0 var(--space-sm);
}
