@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text-primary: #242222;
  --color-text-secondary: #333333;
  --color-text-link: #0064af;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
